%p{:id=>"notice"}#{ notice }

%p
  %strong Body:
  = @comment.body

%p
  %strong Status:
  = @comment.status

%p
  %strong Entry:
  = @comment.entry_id

= link_to 'Edit', edit_comment_path(@comment) |
= link_to 'Back', comments_path
