%p{:id => "notice"} #{ notice }

%h1 Listing Entries

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Blog
      %th{:colspan=>"3"}

  %tbody
    - @entries.each do |entry|
      %tr
        %td #{ entry.title }
        %td #{ entry.body }
        %td #{ entry.blog_id }
%br

= link_to 'Back', blog_entry_path()
